

.sidebar {
  width: 16rem;       /* w-64 */
  height: 75vh;       /* 75% of viewport height */
  background-color: #f5f5f5;
  border-right: 1px solid #d1d5db; /* gray-300 */
  padding: 1.5rem;
  margin-left : 2%;
  margin-top : 4%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;


}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
