

.custom-h1 {
  text-align: center;
  font-size: 3rem; /* Tailwind text-5xl ≈ 3rem */
  transition: opacity 2s ease-in-out;
  font-family: 'Lobster', cursive;
  animation: slideFromTop  2s ease-out ;
}



@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* Fade in/out controlled by state */
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}


.arrow-container{
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;

  width:45px;
  height:45px;

  border:2px solid #3b82f6;   /* blue border */
  border-radius:50%;

  box-shadow:0 0 6px rgba(59,130,246,0.4); /* soft glow */

  transition:all 0.25s ease;
}

/* hover effect */

.arrow-container:hover{
  background:#3b82f6;
  color:white;
  box-shadow:0 0 12px rgba(59,130,246,0.6);
}

.scroll-arrow{
  font-size:24px;
  color:black;
  animation: arrowBounce 1.5s infinite ease-in-out,
             arrowBlink 1.5s infinite;
}

/* up-down movement */

@keyframes arrowBounce{
  0%{
    transform:translateY(0px) scale(1);
  }
  50%{
    transform:translateY(10px) scale(1.1);
  }
  100%{
    transform:translateY(0px) scale(1);
  }
}

/* blinking */

@keyframes arrowBlink{
  0%{
    opacity:1;
  }
  50%{
    opacity:0.4;
  }
  100%{
    opacity:1;
  }
}


.orbit-section{
  position:relative;
  width:320px;
  height:320px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.orbit-title{
  position:absolute;
  font-size:28px;
  font-weight:700;
  text-align:center;
  z-index:10;
}

.orbit-wrapper{
  position:absolute;
  width:550px;
  height:550px;
}

/* icon container */

.orbit-item{
  position:absolute;
  width:60px;
  height:60px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.orbit-item img{
  width:60px;
  height:60px;
  transition:transform 0.2s ease, filter 0.2s ease;
}

/* positions */

.icon1{ top:0; left:50%; transform:translateX(-50%); }
.icon2{ right:0; top:50%; transform:translateY(-50%); }
.icon3{ bottom:0; left:50%; transform:translateX(-50%); }
.icon4{ left:0; top:50%; transform:translateY(-50%); }

/* sprinkle vibration on hover */

.orbit-wrapper:hover .orbit-item img{
  animation:sprinkle 0.55s infinite;
  filter:drop-shadow(0 0 10px rgba(0,0,0,0.35));
}

/* vibration keyframes */

@keyframes sprinkle{

  0%{
    transform:translate(0px,0px) rotate(0deg) scale(1);
  }

  25%{
    transform:translate(2px,-2px) rotate(2deg) scale(1.05);
  }

  50%{
    transform:translate(-2px,2px) rotate(-2deg) scale(1.08);
  }

  75%{
    transform:translate(2px,1px) rotate(1deg) scale(1.05);
  }

  100%{
    transform:translate(0px,0px) rotate(0deg) scale(1);
  }

}
